.idea/
sim/out/
__pycache__
.ipynb_checkpoints
botify/log/*
.DS_Store

*/recsys-2025
jupyter/runs
jupyter/lightning_logs
botify/data/recommendations_dssm_*.json
!botify/data/recommendations_dssm_layernorm_params_arch_3.json

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm
